<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:label="Password Manager"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:requestLegacyExternalStorage="true">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme"/>

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!--
            FIX ANDROID 15/16:
            - theme="@style/Theme.Transparent": evita que el sistema bloquee
              el PendingIntent al considerar la Activity una interrupción del autofill.
            - taskAffinity="": corre en tarea propia, no contamina el back stack
              de la app que está recibiendo el autofill.
            - launchMode="singleInstance": evita instancias apiladas si el usuario
              toca el botón dos veces rápido.
            - Se eliminó noHistory porque con singleInstance es redundante y en
              algunos OEMs con Android 15 causaba que el resultado nunca se entregara.
        -->
        <activity
            android:name=".AuthenticationActivity"
            android:exported="false"
            android:theme="@style/Theme.Transparent"
            android:excludeFromRecents="true"
            android:taskAffinity=""
            android:launchMode="singleInstance"
            android:configChanges="orientation|keyboardHidden|screenSize" />

        <meta-data
            android:name="flutterEmbedding"
            android:value="2"/>

        <service
            android:name=".AutofillService"
            android:label="Password Manager Autofill"
            android:permission="android.permission.BIND_AUTOFILL_SERVICE"
            android:exported="true">

            <meta-data
                android:name="android.autofill"
                android:resource="@xml/service_configuration" />

            <intent-filter>
                <action android:name="android.service.autofill.AutofillService" />
            </intent-filter>
        </service>
    </application>

    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>